---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <br>
    <div class="txt-c">
        <h1>
            Characters Page
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit suscipit alias ipsa, aliquid officiis accusamus <br> 
            reprehenderit, totam error, libero eligendi. Magnam voluptatem ratione dolorem laborum accusantium nulla est architecto.
        </p>
    </div>
</BaseLayout>