---
import Cards from '../components/Cards.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<!-- 
---- This is site index and use BaseLayout.astro
 -->
<BaseLayout>
	<!-- This is fillout of <slot /> in Layout.astro -->

	<h2 class="section_title mt-40">DC SUPER HEROSES</h2>
	<Cards /> 

	<h2 class="section_title">TOP 5 RANKING</h2>
        <div id="ranking_tables" class="row">
          <!--First Half-->
          <div class="table_container">
            <h2 class="ranking_title">DC Villians</h2>
            <table>
              <tr>
                <th>Rank</th>
                <th>Character</th>
              </tr>
              <tr>
                <td>5</td>
                <td>Brainiac</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Sinestro</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Darkseid</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Lex Luthor</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Joker</td>
              </tr>
            </table>
          </div>
          <!--Second Half-->
          <div class="table_container">
            <h2 class="ranking_title">DC Movies</h2>
            <table>
              <tr>
                <th>Rank</th>
                <th>Title</th>
                <th>Gross</th>
              </tr>
              <tr>
                <td>1</td>
                <td>The Dark Knight</td>
                <td>$533,345,358</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Wonder Woman</td>
                <td>$412,563,408</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Batman v Superman: Dawn of Justice</td>
                <td>$330,360,194</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Suicide Squad</td>
                <td>$325,100,054</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Man of Steel</td>
                <td>$291,045,518</td>
              </tr>
            </table>
          </div>
        </div>
      </section>
</BaseLayout>
