---
import '../components/css/footer.css';
---
<footer>
    <h3>Student Details</h3>
    <p>Name: Jarek <span>|</span> UCD: FEWD1124</p>
    <br />
    <small>© Copyright 2024 Jarek, All rights reserved.</small>
</footer>