---
import '../components/css/navbar.css'
---
<nav>
    <ul>
      <li><a href="/movies/">Movies</a></li>
      <li><a href="/characters/">Characters</a></li>
      <li><a href="/comics/">Comics</a></li>
    </ul>
  </nav>