---
import "../assets/css/global.css";
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
console.log(Astro.url);
const { pathname } = Astro.url;
---

<!-- This is a main page layout -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}/favicon.svg` />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<slot /> <!-- This <slot /> will be use in index.astro to load cards component -->
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	
</style>
