---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../assets/css/global.css";
---

<!-- This is a sub page layout without main banner -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<header>
            <Navbar />
        </header>
        <main>
            <section>
                <slot /> <!-- In <slot /> will be use in sub pages [superheroes].astro -->
            </section>
        </main>
        <Footer />
	</body>
</html>

<style>
    main {
        margin-top: 60px;
    }
</style>
